<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns  = "http://www.w3.org/ns/widgets"
     xmlns:gap  = "http://phonegap.com/ns/1.0"
     id     = "com.ely.ola"
     versionCode = "10" 
     version   =   "1.0.0" >
 
   <name>Promo Paraiso</name>
 
   <description>
    Aplicativo de promoções 
   </description>
     <plugin name="cordova-plugin-geolocation" spec="2.4.3" />
 
   <author href="https://build.phonegap.com" email="juliahelena46@gmail.com">
     Julia Helena
    </author>    
    <icon src="res/icon/icon.png" />
    <gap:splash src="res/screen/screen.png"  /> 
</widget>